<footer class="ftr">
  <svg class="branch" style="width:520px;right:-120px;bottom:-40px;--r:-8deg;--ox:100%;--oy:100%;--dur:17s" viewBox="0 0 600 300" aria-hidden="true"><use href="#branch"/></svg>
  <div class="wrap">
    <div class="cols">
      <div>
        <a class="brand" href="/"><img src="/logo.png" alt="" width="42" height="42"><span class="bt"><b>Hanami</b><small>SUSHI BAR</small></span></a>
        <p class="tag">Sushi, poke och bento – rullat när du beställer.</p>
      </div>
      <div>
        <h4>Besök</h4>
        <ul>
          <li>{{STREET}}</li>
          <li>{{POSTAL}}</li>
          <li><a href="tel:{{TEL}}">{{PHONE}}</a></li>
        </ul>
      </div>
      <div>
        <h4>Öppettider</h4>
        <ul>{{HOURS_LIST}}</ul>
      </div>
      <div>
        <h4>Hanami</h4>
        <ul>
          <li><a href="/meny">Meny &amp; take away</a></li>
          <li><a href="/#boka">Boka bord</a></li>
          <li><a href="https://www.facebook.com/p/Hanami-sushi-bar-61557294257313/" target="_blank" rel="noopener">Facebook</a></li>
          <li><a href="https://www.instagram.com/hanamisushi99999/" target="_blank" rel="noopener">Instagram</a></li>
        </ul>
      </div>
    </div>
    <div class="base">
      <span>© {{YEAR}} Hanami Sushi Bar · {{STREET}}, {{CITY}}</span>
      <span>Webbdesign av <a href="https://q89.se/sv/qdesign.html" target="_blank" rel="noopener">QDesign</a> · <a href="https://q89.se" target="_blank" rel="noopener">q89.se</a></span>
    </div>
  </div>
</footer>
